html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1 Contact Details
            h4
                strong Person Name:
                |  #{otherProperty.personName}
                br
            h4
                strong Company Name:
                |  #{otherProperty.companyName}
                br
            h4
                strong Company Activities:
                |  #{otherProperty.activities}
                br
            h4
                strong Phone or Skype:
                |  #{otherProperty.phoneSkype}
                br
            h4
                strong Email Address:
                |  #{otherProperty.email}
                br
            h4
                strong Message:
                |  #{otherProperty.message}
                hr